{
  "presets": ["react", "env", "stage-0"],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "syntax-dynamic-import"
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"],
      "plugins": ["lodash"]
    }
  }
}
